.label {
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: inline-block;
}

.auth-label {
	width: 72px;
}

.signup-label {
	width: 95px;
}
