.chat {
	width: 100%;
	min-height: 100vh;
	font-family: "Helvetica", Arial, sans-serif;
	background-color: #F4F4F4;
}

.chat__content {
	display: flex;
	width: 100%;
}

.section-chat-list {
	max-width: 312px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 16px 16px 0;
}

.chat-add-btn {
	border: none;
	background: transparent;
	padding: 0;
}

.chat-add-btn:hover {
	cursor: pointer;
}

.chat-add-btn:hover .chat-add-btn__img {
	background: #E0F2F1;
	border-radius: 50%;
}

.chat-list__controlls {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.section-caht-list__link-btn {
	align-self: flex-end;
	padding-bottom: 16px;
}

.chat-items {
	margin: 0;
	padding: 0;
}

.item {
	display: flex;
	border-bottom: 1px solid #EAEAEA;
}

.avatar-svg__item {
	margin-right: 4px;
	clip-path: circle();
	object-fit: cover;
}

.item__content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 180px;
	width: 180px;
}

.item__name {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.item__para {
	margin: 4px 0 8px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #A0A0A0;
}

.item__date-wrapper {
	min-width: 47px;
	width: 47px;
}

.date {
	font-weight: normal;
	font-size: 9px;
	line-height: 10px;
	color: #A0A0A0;
}

.message {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	border-radius: 24px 0px 0px 24px;
	background: #fff;
	padding: 0 16px;
}

.message-header {
	display: flex;
	justify-content: space-between;
	height: 56px;
	border-bottom: 1px solid #000000;
}

.avatar-wrapper {
	display: flex;
	align-items: center;
}

.avatar-mini {
	padding-right: 8px;
}

.message-header__name {
	display: block;
}

.message-header__menu,
.message-form__clip,
.message-form__send {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.message-form {
	display: flex;
	justify-content: space-between;
}

.control-panel__input {
	border-radius: 30px !important;
	flex: 1;
}

.search {
	background-color: #fff !important;
	background: url('../../../static/images/Search.svg') no-repeat right;
	background-position: right 16px bottom 50%;
	margin-bottom: 16px;
}