:root {
	--signup-wrapper-box-shadow: 0px 4px 30px rgba(108, 72, 0, 0.2);
	--signup-wrapper-bg-color: #fff;
}

.signup-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 448px;
	padding: 48px 32px 24px;
	box-shadow: var(--signup-wrapper-box-shadow);
	border-radius: 16px;
	background-color: var(--signup-wrapper-bg-color);
	box-sizing: border-box;
}

.signup__title {
	margin-bottom: 32px;
}

.signup__btn {
	margin: 24px auto 0 95px;
}

.signup__btn-link {
	margin: 40px auto 0 0;
	transform: rotate(360deg);
}

.signup__btn-link .link-btn__text {
	order: 2;
}

.signup__btn-link > .link-btn__svg {
	transform: rotate(180deg);
}

/* .inner:not(:last-child) > .input {
	margin-bottom: 8px;
} */

.inner > .input {
	margin-bottom: 8px;
}

.inner .input.signup__input-phone {
	margin-bottom: 16px;
}
