.avatar__img {
	clip-path: circle();
}

.avatar {
	max-width: 130px;
	width: 130px;
	max-height: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	user-select: none;
}

.avatar-edit {
	transition: opacity .2s ease-in-out;
	background-color: rgba(32, 33, 36, 0.6);
	bottom: 0;
	height: 33%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-icon {
	opacity: .8;
}

.avatar:hover > .avatar-edit {
	opacity: 1;
}
