/* Fonts */
@import '../static/fonts/style.css';

/* Pages */
@import './pages/AuthPage/SigninPage/signin.css';
@import './pages/AuthPage/SignupPage/signup.css';
@import './pages/Profile/profile.css';
@import './pages/Chat/chat.css';

/* HTTP Errors */
@import './pages/HTTPErrorsPages/style.css';
@import './pages/HTTPErrorsPages/404/notFound.css';
@import './pages/HTTPErrorsPages/500/serverError.css';

/* Components */
@import '../src/components/Button/button.css';
@import '../src/components/LinkButton/linkButton.css';
@import '../src/components/input/input.css';
@import '../src/components/InputWithLabel/inputWithLabel.css';
@import '../src/components/Title/title.css';
@import '../src/components/Avatar/avatar.css';
@import '../src/components/AvatarMini/avatarMini.css';

body {
	margin: 0;
	padding: 0;
}

#Chat-app {
	height: 100vh;
}

.main {
	height: 100%;
}

.signup-main,
.signin-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth__error_active {
	display: block;
}

.auth__error {
	flex-basis: 100%;
	margin: 1px 0 8px 72px;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #E57373;
}

.input-error {
	border: 1px solid #E57373;
	border-radius: 4px;
}