/* Fonts */
@import url("../static/fonts/style.css");

/* Pages */
@import url("./pages/AuthPage/SigninPage/signin.css");
@import url("./pages/AuthPage/SignupPage/signup.css");

body {
	margin: 0;
	padding: 0;
}

#Chat-app {
	height: 100vh;
}
